#text
{
	border:1px solid red;
	width:200px;
	height:66px;
	font-size: 30px;
	color:red;
	background-color:azure;
	margin-top:40px;
	
}
#div
{
	border:1px solid red;
	width:300px;
	height:96px;
	font-size:30px;
	color:red;
	background-color:azure;
	float:right;
	margin-left:40px;
	text-align:center;
	line-height:90px;
	margin-top:40px;
	
}
#top
{
	border: 1px solid red;
	width:500px;
	height:200px;
	
}
#a1
{
	text-decoration: none;
}
a:hover
{
	font-size:20px;
	color:red;
}
