*{
	padding:0;
	margin:0;
}
#a1{
	width:1204px;
	height:80px;
	border:1px solid white;
	background-image: url(../img/5.png);
	background-repeat:no-repeat;
	margin:0px auto;
	
    }
ul {
	  height:80px;
	  border:1px solid white;
	  margin-left:350px;
	  list-style:none;
	  cursor:pointer;
    }
ul li:nth-child(1)
{
	width:100px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: 0px;
}
ul li:nth-child(2)
{
	width:124px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: -98px 0px;
}
ul li:nth-child(3)
{
	width:146px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: -221px 0px;
}
ul li:nth-child(4)
{
	width:124px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: -364px 0px;
}
ul li:nth-child(5)
{
	width:122px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: -486px 0px;
}
ul li:nth-child(6)
{
	width:122px;
	height:79px;
	border:1px solid white;
	float:left;
	background-image: url(../img/1.png);
	background-repeat:no-repeat;
	background-position: -614px 0px;
}
#a2:hover{
	width:100px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: 0px;
}
#a3:hover{
	width:124px;
	height:79px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: -98px 0px;
}
#a4:hover{
	width:146px;
	height:79px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: -221px 0px;
}
#a5:hover{
	width:124px;
	height:79px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: -364px 0px;
}
#a6:hover{
	width:122px;
	height:79px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: -486px 0px;
}
#a7:hover{
	width:122px;
	height:79px;
	float:left;
	background-image: url(../img/2.png);
	background-repeat:no-repeat;
	background-position: -614px 0px;
}
.center
{
	/*width: 100%;*/
	height:269px;
	background: url(../img/op.jpg) no-repeat top center;
}
.center1
{
	width:100%;
/*	height:600px;*/
	background:url(../img/98.jpg) no-repeat top center;
}
.dakuang
{
	width:1226px;
	height:544px;
	/*border:3px solid yellow;*/
	margin:auto;
	position: relative;
	}
.x1
{
	width:60px;
	height:60px;
	background-image: url(../img/79.png);
	background-repeat: no-repeat;
	position: absolute;
	top: -2px;
	left:82px;
}
.x2
{
	width:90px;
	height:50px;
	color:#177aff;
	position: absolute;
	top: 11px;
	left:138px;
	font-size:30px;
}
.x3
{
	top: 18px;
	left:422px;
	background-position: -51px -1px;
	
}
.x4
{
	top: 20px;
	left:725px;
	background-position: -116px -1px;
}
.x5
{
	top: 20px;
	left:1011px;
	background-position: -177px 1px;
}
.x6
{
	top: 279px;
	left: 124px;
	background-position: -6px -58px;
}
.x7
{
	top: 281px;
	left: 417px;
	background-position:-54px -61px;
}
.x8
{
	top: 281px;
	left:733px;
	background-position:-120px -64px;
}
.x9
{
	top:279px;
	left:1046px;
	background-position:-177px -61px;
}
.b1
{
	width:62px;
	height:62px;
	background-image: url(../img/78.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 62px;
	left:28px;
}
.b2
{
	top:0px;
	left:298px;
	background-position:1px 1px;
}
.b3
{
	top:1px;
	left:598px;
	background-position:1px 1px;
}
.b4
{
	top:1px;
	left:889px;
	background-position:1px 1px;
}
.b5
{
	top:255px;
	left:-1px;
	background-position:1px 1px;
}
.b6
{
	top:255px;
	left:294px;
	background-position:1px 1px;
}
.b7
{
	top:255px;
	left:588px;
	background-position:1px 1px;
}
.b8
{
	top:255px;
	left:882px;
	background-position:1px 1px;
}
.erkuang
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:1px;
	left:1px;
}
.erkuang h3{
	color:white;
	position: absolute;
	top:102px;
	left:93px;
	font-size: 20px;
}
.time
{
	color: #fff;
    font-size: 14px;
    position: absolute;
    top:167px;
    left:97px;
}
.funeng
{
	color: #fff;
    font-size: 18px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang1
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:1px;
	left:300px;
}
.erkuang1 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng1
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang2
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:1px;
	left:600px;
}
.erkuang2 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng2
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang3
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:1px;
	left:900px;
}
.erkuang3 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng3
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang4
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:272px;
	left:1px;
}
.erkuang4 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng4
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang5
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:274px;
	left:301px;
}
.erkuang5 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng5
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang6
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:274px;
	left:601px;
}
.erkuang6 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng6
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}
.erkuang7
{
	width:300px;
	height:270px;
	/*border:1px solid red;*/
	position: absolute;
	top:274px;
	left:901px;
}
.erkuang7 h3{
	color:white;
	position: absolute;
	top:102px;
	left:101px;
	font-size: 20px;
}
.funeng7
{
	color: #fff;
    font-size: 12px;
    position: absolute;
    top:216px;
    left:54px;
}


.xian
{
	width:100%;
	height:3px;
	/*border: 1px solid red;*/
}
.blue
{
	width:25%;
	height:3px;
	background-color: blue;
	float:left;
}
.yellow
{
	width:25%;
	height:3px;
	background-color: yellow;
	float:left;
}
.green
{
	width:25%;
	height:3px;
	background-color: green;
	float:left;
}
.orange
{
	width:25%;
	height:3px;
	background-color: orange;
	float:left;
}
.bottom
{
	
	width:100%;
	height:300px;
	/*border:3px solid red;*/
}
.bottom p
{
	font-size: 14px;
	margin-left:333px;
	margin-top: 25px;
	font-weight: 500;
}
.bottom1
{
	width:797px;
	height:150px;
	border:1px solid red;
	margin-left: 328px;
	margin-top: -1px;
}
.photo1
{
	width:80px;
	height:30px;
	margin-left: 1px;
	margin-top: 1px;
}
.photo2
{
	width:80px;
	height:30px;
	margin-left: 31px;
	margin-top: 1px;
}
.photo3
{
	width:80px;
	height:30px;
	margin-left: 31px;
	margin-top: 1px;
}
.photo4
{
	width:80px;
	height:30px;
	margin-left: 31px;
	margin-top: 1px;
}
.photo5
{
	width:80px;
	height:30px;
	margin-left: 31px;
	margin-top: 1px;
}
.photo6
{
	width:80px;
	height:30px;
	margin-left: 31px;
	margin-top: 1px;
}

