
#top
{
    border: 1px solid black;
    width:1510px;
    height:2053px;
}
#a1
{
    /*border:1px solid black;*/
    width: 1200px;
    height:200px;
}
#a2
{
    /*border:1px solid black;*/
    width: 453px;
    height:200px;
}
#a3
{
	/*border:1px solid black;*/
    width: 300px;
    height:150px;
    margin-left:898px;
    margin-top: -203px;
    float: left;
}
#a4
{
	/*border:1px solid black;*/
    width: 190px;
    height:20px;
    margin-left:982px;
    margin-top: -53px;
    float: left;
    color:white;
    background:dodgerblue;
    text-decoration:underline;
    
    
    align-content: center;
}
#a5
{
	/*border:1px solid black;*/
    width: 85px;
    height:50px;
    margin-left:900px;
    margin-top: -53px;
    float: left;
    background:dodgerblue;
}
#a6
{
	/*border:1px solid black;*/
    width: 67px;
    height:20px;
    margin-left:1132px;
    margin-top: -53px;
    float: left;
    background: dodgerblue;
}
#a7
{
	/*border:1px solid black;*/
    width: 219px;
    height:30px;
    margin-left:980px;
    margin-top: -33px;
    float: left;
    background: dodgerblue;
}
#a8
{
	/*border:1px solid black;*/
	width: 300px;
    height:60px;
    margin-left:550px;
    margin-top: -200px;
    float: left;
    color:red;
}
#a9
{
	/*border:1px solid black;*/
	width: 447px;
    height:136px;
    margin-left:453px;
    margin-top: -139px;
    float: left;
    background: dodgerblue;
}
#dierge
{
	/*border:1px solid black;*/
	width: 1205px;
    height:60px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
    background: dodgerblue;
}


#b1
{
	/*border:1px solid black;*/
	width: 900px;
    height:40px;
    margin-left:200px;
    margin-top: 0px;
    float: left;
    color:white;
     background: dodgerblue;
    
}
#disange
{
	/*border:1px solid black;*/
	width: 1200px;
    height:90px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
}
#c1
{
	/*border:1px solid black;*/
	width: 1200px;
    height:90px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
}
#disige
{
	/*border:1px solid black;*/
	width: 400px;
    height:700px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
}
#diwuge
{
	/*border:1px solid black;*/
	width: 500px;
    height:700px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
}
#d1
{
	/*border:1px solid black;*/
	width: 200px;
    height:50px;
    margin-left:150px;
    margin-top: 0px;
    float: left;
    font-size: 20px;
}
#d2
{
	/*border:1px solid black;*/
	width: 500px;
    height:300px;
    margin-left:0px;
    margin-top: 0px;
    float: left;
}
#d3
{
	/*border:1px solid black;*/
	width: 500px;
    height:350px;
    margin-left:0px;
    margin-top: -5px;
    float: left;
}
#diliuge
{
	/*border:1px solid black;*/
	width: 600px;
    height:700px;
    margin-left:909px;
    margin-top: -700px;
    float: left;
}
#e1
{
	/*border:1px solid black;*/
	width: 600px;
    height:300px;
    margin-left:-1px;
    margin-top: 0px;
    float: left;
}
#diqige
{
	border:1px dashed lightgray;
	width: 600px;
    height:598px;
    margin-left:910px;
    margin-top: -400px;
    float: left;
}
#dibage
{
	/*border:1px solid black;*/
	width: 308px;
    height:354px;
    margin-left:290px;
    margin-top: -1255px;
    float: left;
}
#dijiuge
{
	/*border:1px solid black;*/
	width: 900px;
    height:230px;
    margin-left:-912px;
    margin-top: -200px;
    float: left;
}
#g2
{
	/*border:1px solid black;*/
	width: 100px;
    height:40px;
    margin-left:50px;
    margin-top: 10px;
    float: left;
    color:white;
    background:mediumvioletred ;
}
#g3
{
	border:1px dashed lightgray;
	border-radius: 80px;
	width:160px;
    height:160px;
    margin-left:10px;
    margin-top: 10px;
    float: left;
    animation/*动画*/:g3 5s infinite/*循环*/ linear/*匀速*/; ;
}
@keyframes g3{
	from{
		 transform/*变换*/:rotate/*旋转*/(0deg/*旋转角度*/);
	}
	to{
		transform:rotate(360deg);
	}
}
#g4
{
	border:1px dashed lightgray;
	border-radius: 80px;
	width:160px;
    height:160px;
    margin-left:-700px;
    margin-top: -135px;
    float: left;
     animation/*动画*/:g4 5s infinite/*循环*/ linear/*匀速*/; ;
}
@keyframes g4{
	from{
		 transform/*变换*/:rotate/*旋转*/(0deg/*旋转角度*/);
	}
	to{
		transform:rotate(360deg);
	}
}
#g5
{
	/*border:1px dashed lightgray;*/
	
	width:470px;
    height:160px;
    margin-left:-500px;
    margin-top: -135px;
    float: left;
}
#a4:hover
{
	font-size: 16px;
	color:red;
}
#dishige
{
	border:1px solid black;*/
	width: 1250px;
    height:530px;
    margin-left:-911px;
    margin-top:40px;
    float: left;
}
#h1
{
	/*border:1px dashed black;*/
	width: 100px;
    height:40px;
    margin-left:40px;
    margin-top:10px;
    float: left;
    color:white;
    background:mediumvioletred ;
    font-weight: bold;
    font-size: 18px;
}
#h2
{
	/*border:1px dashed black;*/
	width: 400px;
    height:200px;
    margin-left:10px;
    margin-top:5px;
    float: left;
}
#h3
{
	/*border:1px dashed black;*/
	width: 400px;
    height:230px;
    margin-left:0px;
    margin-top:5px;
    float: left;
}
#h4
{
	/*border:1px dashed black;*/
	width: 400px;
    height:200px;
    margin-left:420px;
    margin-top:-442px;
    float: left;
}
#h5
{
	/*border:1px dashed black;*/
	width: 400px;
    height:200px;
    margin-left:420px;
    margin-top:-232px;
    float: left;
}
#h6
{
	/*border:1px dashed black;*/
	width: 400px;
    height:200px;
    margin-left:830px;
    margin-top:-442px;
    float: left;
}
#h7
{
	/*border:1px dashed black;*/
	width: 400px;
    height:200px;
    margin-left:830px;
    margin-top:-232px;
    float: left;
}
#dishiyige
{
	/*border:1px dashed black;*/
	width: 1510px;
    height:232px;
    margin-left:0px;
    margin-top:270px;
    float: left;
}
#i1
{
	/*border:1px solid black;*/
	width: 1510px;
    height:220px;
    margin-left:0px;
    margin-top:10px;
    float: left;
    background: dodgerblue;
    color:white;
}
#i2
{
	/*border:1px solid black;*/
	width:280px;
    height:40px;
    margin-left:0px;
    margin-top:-180px;
    float: left;
    background: dodgerblue;
    color:white;
}
#i3
{
	/*border:1px solid black;*/
	width:280px;
    height:60px;
    margin-left:1200px;
    margin-top:-180px;
    float: left;
    background: dodgerblue;
    color:white;
}
#i4
{
	/*border:1px solid black;*/
	width:100px;
    height:100px;
    margin-left:100px;
    margin-top:-120px;
    float: left;
    background: dodgerblue;
    
}
#i5
{
	/*border:1px solid black;*/
	width:100px;
    height:100px;
    margin-left:1300px;
    margin-top:-110px;
    float: left;
    background: dodgerblue;
}
.h{
	width: 400px;
    height:235px;
    position:absolute;
    
    margin:0px;
    background-color: rgba(0,0,0,0.7);
    display: none; 
    z-index: 99;
}
.l:hover .h{
	display: block;
	
}
